#игнорируется подкаталог tmp
tmp/

#игнорируются все файлы и каталоги Thumbs.db
Thumbs.db

#игнорируются все файлы и каталоги .DS_Store
*.DS_Store

#игнорируются все файлы и каталоги c суффиксом _old
*_old

#игнорируются все файлы и каталоги c суффиксом _backup
*_backup